<div class="jumbotron">

<h1>Our Team</h1>
<p>Team StrangelyPlace wants to blow your mind with videos of grandiose proportion. We can give it to you slow. On a good day, we can give it to you a little less slow. One thing you can be certain of is that we will give it to you and when we do, you will laugh, you will cry and you may shit your pants. Let's rock the boat baby! </p>