<div class="jumbotron">

<h1>Our Team</h1>
<p>StrangelyPlace is comitted to adding something to your day. We believe that the internet should be a source of inspiration. 
	Find your StrangelyPlace and take it with you! </p>